<footer class="footer">

  <div class="footer-container">

    <div class="footer-brand">

      <h2>
        BARBER<span>SHOP</span>
      </h2>

      <p>
        Estilo, precisión y dedicación en cada corte.
      </p>

    </div>


    <div class="footer-section">

      <h3>Contacto</h3>

      <p> <a
        href="https://wa.me/+56966344088"
        target="_blank"
      >
        WhatsApp
      </a> </p>


      <p>Av. Sta. María 635</p>

    </div>


    <div class="footer-section">

      <h3>Horario</h3>

      <p>Lunes a Sábado</p>

      <p>10:00 - 19:00</p>

      <p>Domingos</p>

      <p>20:00 - 22:00</p>

    </div>


    <div class="footer-section">

      <h3>Síguenos</h3>

      <a
        href="https://www.instagram.com/garridios_barber/"
        target="_blank"
        rel="noopener noreferrer"
      >
        Instagram
      </a>



    </div>

  </div>


  <div class="footer-bottom">

    <p>
      © 2026 GARRIDIOSBARBER. Todos los derechos reservados.
    </p>

  </div>

</footer>
