<nav class="navbar">

  <div class="navbar-container">

    <a
      class="logo"
      href="#inicio"
      (click)="cerrarMenu()"
    >
      BARBER<span>SHOP</span>
    </a>


    <button
      class="menu-toggle"
      type="button"
      (click)="toggleMenu()"
      aria-label="Abrir menú"
    >

      <span></span>
      <span></span>
      <span></span>

    </button>


    <div
      class="nav-links"
      [class.active]="menuAbierto"
    >

      <a
        href="#inicio"
        (click)="cerrarMenu()"
      >
        Inicio
      </a>

      <a
        href="#cortes"
        (click)="cerrarMenu()"
      >
        Cortes
      </a>

      <a
        href="#reservas"
        (click)="cerrarMenu()"
      >
        Reservar
      </a>

      <a
        href="#ubicacion"
        (click)="cerrarMenu()"
      >
        Ubicación
      </a>

    </div>


    <a
      class="btn-reservar"
      href="#reservas"
    >
      Reservar hora
    </a>

  </div>

</nav>
