<section class="ubicacion" id="ubicacion">

  <div class="ubicacion-container">

    <div class="ubicacion-info">

      <span class="section-label">ENCUÉNTRANOS</span>

      <h2>Visítanos</h2>

      <p class="descripcion">
        Estamos ubicados en un lugar privado de facil acceso.
        Reserva tu hora y disfruta de mis servicios.
      </p>

      <div class="dato">
        <span class="dato-titulo">Dirección</span>
        <p>Av. Sta. María 635</p>
        <p>Constitución, Región del Maule</p>
      </div>

      <div class="dato">
        <span class="dato-titulo">Horario</span>
        <p>Lunes a sábado</p>
        <p>10:00 - 19:00</p>
        <p>Domingos</p>
        <p>20:00 - 22:00</p>
      </div>

      <div class="dato">
        <span class="dato-titulo">Contacto</span>
        <p>+56 9 6634 4088</p>
      </div>

    </div>


    <div class="mapa">

      <div class="mapa-placeholder">

        <span>MAPA</span>

        <p>
          Aquí integraremos Google Maps posteriormente.
        </p>

      </div>

    </div>

  </div>

</section>
