<section class="hero" id="inicio">

  <div class="hero-overlay"></div>

  <div class="hero-content">
    <span class="hero-subtitle">BARBERÍA PROFESIONAL</span>

    <h1>
      GARRIDIOS
      <span>BARBER</span>
    </h1>

    <p>
      Cortes, estilo y precisión.
      Reserva tu hora o mira el catalogo para tener una idea.
    </p>

    <div class="hero-actions">
      <a href="#reservas" class="btn-primary">
        Reservar hora
      </a>

      <a href="#cortes" class="btn-secondary">
        Ver cortes
      </a>
    </div>
  </div>

</section>
