<section class="admin-page">


  @if (comprobandoSesion) {

    <div class="admin-loading">

      Verificando sesión...

    </div>

  }


  @if (
    !comprobandoSesion &&
    !autenticado
    ) {

    <app-admin-login
      (loginCorrecto)="
        loginCorrecto($event)
      "
    />

  }


  @if (
    !comprobandoSesion &&
    autenticado
    ) {

    <header class="admin-header">

      <div>

        <p class="admin-kicker">
          Panel administrativo
        </p>

        <h1>
          Gestión de Garridos Barber
        </h1>

      </div>


      <button
        type="button"
        class="btn-cerrar-sesion"
        (click)="cerrarSesion()"
        [disabled]="cerrandoSesion"
      >

        @if (cerrandoSesion) {

          Cerrando...

        } @else {

          Cerrar sesión

        }

      </button>

    </header>


    @if (mensaje) {

      <div class="mensaje-exito">

        {{ mensaje }}

      </div>

    }


    @if (error) {

      <div class="mensaje-error">

        {{ error }}

      </div>

    }


    <app-admin-reservas
      (sesionExpirada)="
        sesionExpirada()
      "
    />


    <app-admin-bloqueos
      (sesionExpirada)="
        sesionExpirada()
      "
    />

  }

</section>
