<div class="login-wrapper">

  <div class="login-card">

    <p class="admin-kicker">
      Garridos Barber
    </p>

    <h1>
      Panel administrativo
    </h1>

    <p class="login-description">
      Ingresa la contraseña para continuar.
    </p>


    @if (error) {

      <div class="mensaje-error">
        {{ error }}
      </div>

    }


    <form
      class="login-form"
      (ngSubmit)="iniciarSesion()"
    >

      <div class="campo">

        <label for="password">
          Contraseña
        </label>

        <input
          id="password"
          name="password"
          type="password"
          [(ngModel)]="password"
          autocomplete="current-password"
          placeholder="Contraseña"
          required
        >

      </div>


      <button
        type="submit"
        class="btn-login"
        [disabled]="
          cargando ||
          !password.trim()
        "
      >

        @if (cargando) {

          Iniciando...

        } @else {

          Iniciar sesión

        }

      </button>

    </form>

  </div>

</div>
