<section class="admin-card">

  <div class="card-header">

    <div>

      <p class="seccion-kicker">
        Reservas
      </p>

      <h2>
        Horas agendadas
      </h2>

    </div>

  </div>


  @if (cargando) {

    <div class="estado-carga">

      Cargando reservas...

    </div>

  }


  @if (
    !cargando &&
    reservas.length === 0
    ) {

    <div class="estado-vacio">

      No hay reservas registradas.

    </div>

  }


  @if (
    !cargando &&
    reservas.length > 0
    ) {

    <div class="tabla-wrapper">

      <table class="admin-table">

        <thead>

        <tr>

          <th>
            ID
          </th>

          <th>
            Fecha
          </th>

          <th>
            Hora
          </th>

          <th>
            Cliente
          </th>

          <th>
            Teléfono
          </th>

          <th>
            Estado
          </th>

          <th>
            Acciones
          </th>

        </tr>

        </thead>


        <tbody>

          @for (
            reserva of reservas;
            track reserva.id
            ) {

            <tr>

              <td>
                #{{ reserva.id }}
              </td>


              <td>
                {{ formatearFecha(reserva.fecha) }}
              </td>


              <td>
                {{ reserva.hora }}
              </td>


              <td>

                <strong>

                  {{ reserva.nombre }}
                  {{ reserva.apellido }}

                </strong>

              </td>


              <td>
                {{ reserva.telefono }}
              </td>


              <td>

                    <span
                      class="estado"
                      [class.estado-confirmada]="
                        reserva.estado === 'confirmada'
                      "
                      [class.estado-cancelada]="
                        reserva.estado === 'cancelada'
                      "
                    >

                      {{ reserva.estado }}

                    </span>

              </td>


              <td>

                @if (
                  reserva.estado ===
                  'confirmada'
                  ) {

                  <button
                    type="button"
                    class="btn-cancelar"
                    (click)="cancelarReserva(reserva)"
                    [disabled]="
                          cancelandoId === reserva.id
                        "
                  >

                    @if (
                      cancelandoId === reserva.id
                      ) {

                      Cancelando...

                    } @else {

                      Cancelar

                    }

                  </button>

                }


                @if (
                  reserva.estado ===
                  'cancelada'
                  ) {

                  <span class="sin-acciones">

                        Sin acciones

                      </span>

                }

              </td>

            </tr>

          }

        </tbody>

      </table>

    </div>

  }

</section>
